* {
    font-family: verdana;
    font-weight: bold;
}

#controlContainer {
    width: auto;
    height: auto;

    position: relative;

    top: 51px;
}

.control {
    background-color: cornflowerblue; 
    height:300px; 
    width:300px;

    float: left;

    margin: 2.5px;
    
    z-index: 1;
    
    transition: background-color 2s, height 0.5s, width 0.5s, top 2s, left 2s;
}

.control-hover:hover {
    background-color: #5077bd; 
    height:400px; 
    width:400px;
}

.control-animate {
    top: 0px;
    left: 0px;
    
    transition: background-color 2s, height 0.5s, width 0.5s, top 2s, left 2s;

    float: none;
    position: fixed;
    background-color: red;
    z-index: 2;
        
    height:500px; 
    width:500px;
    
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}


/*
.control:active {
    background-color: red; 
    height:300px; 
    width:300px;
}
*/

/*
background-color: #5077bd;
background-color: cornflowerblue;

*/